<h3 *ngIf="products.length>0 ; else noProduct">{{title}}</h3>
<div class="row">
    <div class="mb-3 col-md-11">
        <input class="form-control" id="productName" [(ngModel)]="filterText" placeholder="Ürün arama bilgisi">
        <small *ngIf="filterText">Şu an <strong>{{filterText}}</strong> aramasına ait sonuçları görüyorsunuz.</small>
    </div>
</div>




<div class="row">
    <ng-template #noProduct>
        <div class="alert alert-primary" role="alert">
            Gösterilcek ürün bulunamadı !
        </div>
    </ng-template>

    <div *ngFor="let p of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img [src]="p.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{p.name}} - {{p.price}}TL</h5>
            <p class="card-text">{{p.description}}
            </p>
            <a (click)="AddToCart(p)" class="btn btn-primary">Sepete Ekle</a>
        </div>
    </div>

</div>