<!-- <h3>{{title}} - {{selectedCategory}}</h3> -->

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="product">Tüm Ürünler</a>
                </li>
                <li *ngFor="let c of categories" routerLink="category/{{c.name}}" data-id="{{c.id}}" class="nav-item">
                    <a aria-current="page" class="nav-link" style="cursor: pointer;">{{c.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <div class="list-group">
    <a routerLink="" class="list-group-item list-group-item-action" aria-current="true">
        Tüm Ürünler
    </a>
    <a *ngFor="let c of categories" routerLink="category/{{c.name}}" data-id="{{c.id}}" class="list-group-item list-group-item-action" [ngClass]="{'active':selectedCategory==c.name}" aria-current="true" (click)="RouteTry()">
        {{c.name}}
    </a>
</div> -->